
@{
    ViewBag.Title = "TestItemView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApplication1.Models.MyItemModel
<h2>TestItemView</h2>
@Model.Id
<br />
@Model.Name
<br />
@Model.UserName

